<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="./img/favicon.ico"> -->

    <title th:text="#{label.home.title}">Salvador</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css"
          href="./node_modules/bootstrap/dist/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="./css/sticky-footer-navbar.css" rel="stylesheet" type="text/css">
</head>

<body>

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">SALVADOR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/users#!">Users <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown" th:if="${#httpServletRequest.remoteUser} != null">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="navbar-text" th:inline="text">Hello, [[${#httpServletRequest.userPrincipal.principal.firstName}]]</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                        <a class="dropdown-item" href="/login?logout" th:text="#{label.signout}">Sign out</a>
                    </div>
                </li>
            </ul>
            <!-- <form class="form-inline mt-2 mt-md-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">
    <!--<h1 class="mt-5">Sticky footer with fixed navbar</h1>-->
    <!--<p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>-->
    <!--<p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>-->
    <section ng-view></section>
</main>

<!--<section ng-view></section>-->

<footer class="footer">
    <div class="container">
        <span class="text-muted">Copyright Salvador.</span>
    </div>
</footer>

<script th:inline="javascript">
    /*<![CDATA[*/
    if (/*[[${#httpServletRequest.remoteUser}]]*/ !=
    null
    )
    {
        window.user = JSON.stringify(/*[[${#httpServletRequest.remoteUser}]]*/) || 'null';
    }
    console.log(window.user);
    /*]]>*/
</script>

<!-- Bootstrap core JavaScript
================================================== -->
<script src="./node_modules/jquery/dist/jquery.slim.min.js"></script>
<script src="./node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="./js/users/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="./js/users/bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="./js/users/bower_components/angular-resource/angular-resource.min.js"></script>

<!--Modules and Controllers-->
<script type="text/javascript" src="./js/users/users.client.module.js"></script>
<script type="text/javascript" src="./js/users/controllers/users.client.controller.js"></script>

<!--Services-->
<script type="text/javascript" src="./js/users/services/users.client.service.js"></script>

<!--Routes-->
<script type="text/javascript" src="./js/users/config/users.client.routes.js"></script>

<!--Authentication-->
<script type="text/javascript" src="./js/users/services/authentication.client.service.js"></script>

<!--Main AngularJS App-->
<script type="text/javascript" src="./js/users/application.js"></script>
</body>
</html>
