<section ng-controller="UserController" ng-init="find()">
    <h1>Users</h1>
    <div>
        <a href="/users#!/create">New User</a>
    </div>
    <br/>
    <ul>
        <li ng-repeat="user in users">
            <a ng-href="#!/{{user.id}}" ng-bind="user.id"></a>
            <br>
            <small ng-bind="user.email"></small>
            <br>
            <small ng-bind="user.lastName"></small>
            <small>,</small>
            <small ng-bind="user.firstName"></small>
        </li>
    </ul>
</section>